<div ng-include="'simplesite/src/partials/heroine.htm'"></div>
<div id="main-col">
    <div class="sections">
        <div ng-include="'simplesite/src/partials/about-me.htm'" class="sec-block about-me"></div>
        <div ng-include="'simplesite/src/partials/education.htm'" class="sec-block education"></div>
        <div ng-include="'simplesite/src/partials/skills.htm'" class="sec-block skills"></div>
    </div>

    <div ng-include="'simplesite/src/partials/contact.htm'" class="contact-wrap"></div>
</div>
