<div ng-include="'simplesite/src/partials/heroine.html'"></div>
<div id="main-col">
    <div class="sections">
        <div ng-include="'simplesite/src/partials/about-me.html'" class="sec-block about-me"></div>
        <div ng-include="'simplesite/src/partials/education.html'" class="sec-block education"></div>
        <div ng-include="'simplesite/src/partials/skills.html'" class="sec-block skills"></div>
        <div ng-include="'simplesite/src/partials/work.html'" class="sec-block work"></div>
        <div ng-include="'simplesite/src/partials/work-desc.html'" class="sec-block work-desc"></div>

        <div ng-include="'simplesite/src/partials/work-folio.html'" class="work-folio"></div>
    </div>

    <div ng-include="'simplesite/src/partials/contact.html'" class="contact-wrap"></div>
</div>
